.bigRowItem {
    background-color: gray;
    display: flex;
    padding: 0.5vw;
    margin: 1vh 2vw;
    img {
        width: 20%;
    }
    .postPreview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1vw;
    }
}

