header {
    display: flex;
    align-items: center;
    height: 7.5vh;
    background-color: red;
    color: white;
    padding: 1vh 2vw;
    box-sizing: content-box;
    img {
        height: 50%;
    }
    
}